{:paths ["src"]
 :aliases {:portal {:extra-deps {djblue/portal {:mvn/version "0.18.0"}}}
           :reveal {:extra-deps {vlaaad/reveal {:mvn/version "1.3.250"}}
                    :ns-default vlaaad.reveal
                    :exec-fn repl}
           :oz {:extra-deps {metasoarous/oz {:mvn/version "2.0.0-alpha2"}}}
           :viz {:extra-deps {org.scicloj/viz.clj {:mvn/version "0.1.1"}}}
           :reveal-nrepl
           {:extra-deps {vlaaad/reveal {:mvn/version "1.3.214"}
                         nrepl/nrepl   {:mvn/version "0.8.3"}}
            :jvm-opts   ["-Dvlaaad.reveal.prefs={:theme,:light,:font-family,\"https://ff.static.1001fonts.net/u/b/ubuntu.mono.ttf\",:font-size,64}"]
            :main-opts  ["-m" "nrepl.cmdline"
                         "--middleware" "[vlaaad.reveal.nrepl/middleware]"
                         "-i"]}}}
